<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/food-options.jpg');">
        <div class="filter"></div>
    </div>
    
    <div class="section text-center">
        <div class="container">
           
            <div class="row">

                <table align = "center">
                    <tr *ngFor="let kitchen of listKitchens">
                        <td style = "text-align:center">{{product.FoodCategory}}</td>

                        <td>
                            <a [routerLink]="['/cart', { id:product.id }]">Add to Cart</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
