<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/img/antoine-barres.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                </div>
            </div>
          </div> 
      </div>

<div class="section">
    <div class="container">
        <div class="tim-title">
            <h2 align = "center">Kitchens</h2>
        </div>
    </div>
</div>
          
<table align = "center">
    
    <td *ngFor="let kitchen of listKitchens">
        <tr>
            <div class="card-avatar" style="margin: 25px">

                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="/#/kitchens"><img [src]="getSource(kitchen)" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">{{kitchen.KitchenName}}</h4>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            <button (click) ="kitchenMenu(kitchen)" type="button" class="btn btn-default btn-round">Menu</button>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        
                    </div>
                </div> 
            </div>
            
        </tr>
    </td>
</table>