<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/food-options.jpg');">
        <div class="filter"></div>
    </div>
    
    <div class="section text-center">
        <div class="container">
           
            <div class="row">

                <table align = "center">
                    <tr *ngFor="let kitchen of listKitchens">
                        <td style = "text-align:center">{{product.FoodCategory}}</td>

                        <td>
                            <a [routerLink]="['/cart', { id:product.id }]">Add to Cart</a>
                        </td>
                    </tr>
                </table>

                
                
                <div class="col-md-4">
                    
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="/#/kitchen"><img src="./assets/img/faces/wendys.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">Wendys</h4>
                                    <h6 class="card-category">Fast Food</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Wendy's menu consists primarily of hamburgers, chicken sandwiches, French fries, and beverages such as the Frosty.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div> 
                </div>

                <div class="col-md-4">
                    
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="/#/kitchen"><img src="./assets/img/faces/burgerking.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">Burger King</h4>
                                    <h6 class="card-category">Fast Food</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Burger King Corporation, restaurant company specializing in flame-broiled fast-food hamburgers. It is the second largest hamburger chain the the United States.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div> 
                </div>
                
            </div>
        </div>
    </div>

</div>
