<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/img/antoine-barres.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                </div>
            </div>
          </div> 
      </div>

    <div class="container">
        <div class="tim-title" style ="text-align:center">
            <p></p>
            <h2>{{kitchen.KitchenName}}</h2>
        </div>
    </div>
 
<div class="container">
        <h3>Menu</h3>        
</div>
<br/>
<table align = "center" class="table table-bordered">
    <tr style = "text-align:center">
        <th></th>
        <th style = "text-align:center">Name</th>
        <th style = "text-align:center">Price</th>
        <th style = "text-align:center">Description</th>
        <th style = "text-align:center">Buy</th>
    </tr>
    <tr *ngFor="let product of products">
        <td align = center>
            <img src={{product.ImagePath}} width="150">
        </td>
        <td style="font-weight:bold">{{product.ItemName}}</td>
        <td style = "text-align:center">${{product.Price}} </td>
        <td>{{product.ItemDescription}} </td>
        <td>
            <a [routerLink]="['/cart', { id:product.id }]" class="btn btn-default btn-round">Add to Cart</a>
        </td>
    </tr>
</table>

<!-- <div class="container">
    <h3>Entrees</h3>        
</div>
<br/>

<div class="container">
    <h3>Beverages</h3>        
</div>
<br/>

<div class="container">
    <h3>Desserts</h3>        
</div>
<br/> -->