<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/img/antoine-barres.jpg');">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand"></div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="tim-title" style ="text-align:center">
            <h2>{{kitchen.KitchenName}}</h2>
        </div>
    </div>
 
    <div class="container" style="margin-bottom: 130px;">
        <h3 style="text-align: center;">Menu</h3> 
    </div>
    <div class="add-item" *ngIf="isKitchen()">
        <button class="btn btn-default" (click)=addItem()>Add Item</button>
    </div>
    <table align = "center" class="table table-bordered" style="margin-bottom: 50px;">
        <tr *ngFor="let product of products">
            <td align = center class="item-images">
                <img src={{product.ImagePath}} width="150">
            </td>
            <td class="item-name"><strong>{{product.ItemName}}</strong></td>
            <td style = "text-align:center; vertical-align: middle;">{{product.Price | currency}} </td>
            <td style="width: 30%; vertical-align: middle; padding: 20px;">{{product.ItemDescription}} </td>
            <td style="text-align: center; vertical-align: middle;" *ngIf="isUser()">
                <button class="btn btn-default" (click)=addToCart(product)>ADD To Cart</button>
            </td>
            <td style="text-align: center; vertical-align: middle;" *ngIf="isKitchen()">
                <button class="btn btn-default" (click)=editItem(product)>Edit</button>&nbsp;
                <button class="btn btn-default" (click)=deleteItem(product)>Delete</button>
            </td>
        </tr>
    </table>
</div>