<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/burger.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div>
                 <div class="col-lg-4 col-sm-6 ml-auto" style="text-decoration-color: white;">
                  <div style="font-size: large; text-align: end; color:white"> 
                      <h3>Feast Freedom gives you the freedom to get the food you love delivered at your doorstep.</h3>
                  </div>
                </div>
            </div>
        </div>
    </div> 
    <app-footer></app-footer>
</div>





