<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">Feast Freedom</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/teamfeastfreedom/FeastFreedom" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/about']" class="nav-link">About</a>
                </li>
                <li class="nav-item" *ngIf="isRegularUser()">
                    <a [routerLink]="['/kitchens']" class="nav-link">Kitchens</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a [routerLink]="['/signup']" class="nav-link">Create Account</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a [routerLink]="['/login']" class="btn btn-danger btn-round">Log In</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn() && isRegularUser()">
                    <a (click)=userMyAccount() class="btn btn-danger btn-round" placement="bottom" ngbTooltip={{userName}}>My Account</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn() && !isRegularUser()">
                    <a (click)=kitchenMyAccount() class="btn btn-danger btn-round" placement="bottom" ngbTooltip={{userName}}>My Account</a>
                </li>

                <li class="nav-item" *ngIf="isRegularUser()">
                    <a [routerLink]="['/cart']" class="btn button">Cart  <i _ngcontent-ldk-c119="" class="nc-icon nc-cart-simple"></i></a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn()">
                    <a class="btn button btn-primary" (click)=onLogout()>Log out</a>
                </li>
            </ul>

            

        </div>
    </div>
</nav>