<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://github.com/teamfeastfreedom/FeastFreedom">Github of the project</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} made with <i class="fa fa-heart heart"></i> by Team 3
                </span>
            </div>
        </div>
    </div>
</footer> -->

<footer>
    <div class="section section-dark section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-4">
                    <h2 class="title">Feast Freedom</h2><br/>
                    <p class="description">
                    
                    </p><br/>
                    <a [routerLink]="['/signup']" class="btn btn-outline-danger btn-round">Add Your Kitchen</a>
                    <br/>
                    <div class="row"></div>
                    <div class="row"></div>
                    <a [routerLink]="['/about']" class="btn btn-outline-danger btn-round">About Feast Freedom </a>
                </div>    
            </div>
            <br>
            <div class="col-sm-4 col-sm-4">
                <p>Facebook</p>
                <p>Twitter</p>
            </div>
        </div>
    </div>
</footer>
